* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  border: none;
  outline: 0;
  list-style: none;
}

/* /\ Reset CSS Mínimo /\  */

/* \/  Fundo \/  */
body {
  background-color: #eee;
  background-image: url("/assets/bg.png");
  background-repeat: repeat;
}


/* Header */

.header{
  width: 100%;
  max-width: 1230px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-bottom: 2px solid #426ca8;
  position: relative;
}

/* Menu */


.menu-toggle{
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 20px;
  align-items: center;
  color: #eee;
  font-size: 20px;
  padding: 15px;
}


.menu{
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 200px;
  height: 755px;
  background: #fff;
  border-radius: 5px;
  padding: 15px 0;
  z-index: 2;
}

/* Botão do Menu Principal */

.button-red{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  width: 90%;
  max-width: 170px;
  height: 30px;
  background: #cc092f;
  font-weight: 200;
  font-size: 12px;
  color: #fff;
  margin: 5px auto 20px;
  transition: 0.5s all linear;
  text-transform: uppercase;
}

.button-red:hover{
  background: #ab0727;  
}

.chevron-right-icon-min{
  color: #fff;
}


.menu-items-item{  
  border-top: 1px solid #eee;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
}

.menu-items-item:hover{
  color: #ce0029;
}

.menu-items-item:last-child{  
  border-bottom: 1px solid #eee;
}

.product-services-title{
  color: #ce0029;
  position: relative;
}

.product-services-title:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 5px #fff;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

.products-services{
  box-shadow: inset 0px 30px 76px -64px rgba(0,0,0,0.2), -2px 0px 0px 0px #ce0029;
  width: 100%;
  list-style: none;
}

.products-services-item{
    border-top: 1px solid #eee;
    padding: 10px 15px;
    font-size: 12px;
}

.products-services-item:hover{
  color: #ce0029;
}

/* Smart Menu */

.menu-mobile{
  display: none;
  width: 200px;
  height: 755px;
  background: #fff;
  border-radius: 5px;
  padding: 15px 0;
}

/* Main */

.main{
  width: 100%;
  max-width: 1230px;
  margin: auto;
  position: relative;
}

/* Slide */

.slide{
  width: 100%;
  height: 420px;  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transition: 1s all linear;
  position: relative; 
  overflow:hidden;
}

.slide-image{
  position: absolute;
  width: 400%;
  top: 0;
  left: 0;
}

.slide-image-item{
  width: 25%;
  float:left;
  position: relative;
}

.slide-image-item img{
  width: 100%;

}


.slide-wrapper{
  width: 79%;
  max-width: 980px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 75px;
  left: 280px;
}

.slide-controller-wrapper{
  position: absolute;
  bottom: 30px;
  left: 50%;
}


.slide-controller{  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide-controller-item{
  width: 25px;
  height: 25px;
  background: url('/assets/slide-inactive.png') no-repeat center center;
}

.slide-controller-item:hover{
  background: url('/assets/slide-active.png') no-repeat center center;
}

.slide-controller-item:active{
  background: url('/assets/slide-active.png') no-repeat center center;
}

/* Call to Action do Slide */

.slide-item{
  background:  linear-gradient(50deg, rgba(255,255,255,0.8) 90%, transparent 30px);
  width: 405px;
  height: 264px;
  overflow: hidden;
  position: relative;
  padding: 25px;
}

.slide-item-title{
  color: #ce0029;
  max-width: 250px;
  font-weight: 300;
  line-height: 1.4;
  font-size: 30px;
  margin-left: 10px;
}

.slide-item-text{
  color: #4d4e52;
  font-weight: 400;
  max-width: 250px;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 15px;
}

.chevron-right-icon{
  color: #fff;
  padding: 0 20px;
  border-left: 1px inset #175174;
  margin-top: 0;
}

.slide-item-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  max-width: 337px;
  height: 50px;
  background: #4c8ce3;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  margin: 20px auto 0 auto;
  transition: 0.5s all linear;
  border-radius: 3px;
}

.slide-item-button:hover{
  background: #145ec3;
}

/* Conteúdos Especiais */

.categories{
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
}

.categories-wrapper{
  width: 80%;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: flex-start;
  padding: 15px;
}

.categories-title{
  color: #4d4e52;
  font-size: 24px;
  font-weight: 300;
  margin: 15px 0;
}

.categories-filter{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Botões de Filtro */

.category-filter{
  background: #fff;
  width: 165px;
  height: 65px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  transition: 0.5s all linear;
  border-radius: 4px;
}

.button-text{
  transition: 0.5s all linear;
  background: #fff
}


.category-filter:hover{
  background: #4c8ce3;
  color:#fff;
}

.category-filter:hover span{
  background: #4c8ce3;
  color:#fff;  
}

.activated-filter{
  position: relative;
  background: #4c8ce3;
  color:#fff;
}

.activated-filter span{
  background: #4c8ce3;
  color:#fff;  
}
.activated-filter:after{
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 8px #4c8ce3;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}

/* Cores das categorias */

.color-category-1{
  color: #5fb5e3;
  display: flex;
  justify-content: space-around;
  transition: 0.5s all linear;
  align-items: center;
  background: #fff;  
}

.color-category-2{
  color: #ab1355;
  display: flex;
  justify-content: space-around;
  transition: 0.5s all linear;  
  align-items: center;
  background: #fff;  
}

.color-category-all{
  color: #d02139;
  display: flex;
  justify-content: space-around;
  transition: 0.5s all linear; 
  align-items: center;
  background: #fff;  
}

.color-category-3{
  color: #0e727c;
  display: flex;
  justify-content: space-around;
  transition: 0.5s all linear;  
  align-items: center;
  background: #fff;  
}

.color-category-4{
  color: #36af3e;
  display: flex;
  justify-content: space-around;
  transition: 0.5s all linear;  
  align-items: center;
  background: #fff;  
}

/* Cards Section */

.categories-card{
  width: 100%;
  max-width: 1230px;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.categories-card-wrapper{
  width: 75%;
  max-width: 914px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row;
  grid-gap: 20px;
  justify-content: space-around;
  margin-right: 40px;
}

/* Card */

.card{
  width: 100%;
  background: #fff;
}

.card-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.card-image{
  width: 100%;
  
}

.card-title{
  color: #780000;
  font-size: 20px;
  font-weight: 400;
}

.card-text{
  width: 80%;
  color: #4d4e52;
  font-size: 16px;
  font-weight: 300;
  margin: 15px auto;
  text-align: left;
}

.card-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  width: 90%;
  max-width: 337px;
  height: 30px;
  background: #4c8ce3;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin: 10px auto;
  transition: 0.5s all linear;
  border-radius: 3px;
}

.card-button:hover{
  background: #145ec3;
}

.chevron-right-button-icon{
  color: #fff;
  padding: 0 10px;
  border-left: 1px inset #175174;
  margin-top: 0;
}

.card-icon{
  border: 1px solid;
  margin-left: 6px;
  padding: 4px;
}

/* Media Query até 1150 */

@media (max-width: 1150px) {
  /* Ativa o Icone do menu */
  .menu-toggle{
    display: flex;
  }

/* Esconde e reposiciona o menu */
  .menu{
    display: none;
    right: 20px;
    left: unset;
    top: 20px;
  }

  /* Cria a arrow superior */

  .menu:after{
    content:'';
    position: absolute;
    top: -8px;
    left: 80%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-bottom: solid 8px #fff;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
  }

   /* Reposiciona os elementos do slide */

  .slide-wrapper{
    width: 100%;    
    left: 10%;
    top: 10%;
  }
  
  .slide-controller-wrapper{
    bottom: 30px;
    left: 45%;
    bottom: 5%;
  }

  /* Reposiciona os elementos dos conteudos */

  .categories-wrapper{
    width: 100%;
    align-items: center;
    padding: 15px;
  }

  .categories-card-wrapper{
    width: 100%;
    margin: auto;
    padding: 0px 15px;
   }
  
   .category-filter{
    width: 120px;
    margin: 0 5px;
  }

  .button-text{
    font-size: 12px;
  }

}

/* Media Query Mobile */

@media (max-width: 600px) {

/* Esconde o texto dos filtros */

  .button-text{
    display: none;
  }

  /* Altera o posicionamento dos elementos do slide */
  
  .slide{
    height: 350px;
  }

  .slide-controller-wrapper{
    position: absolute;
    bottom: 30px;
    left: 40%;
    bottom: 5%;
   }

  .slide-item{
    width: 80%;
    height: 60%;
    overflow: hidden;
    position: relative;
    padding: 25px;
  }

  /* Esconde o menu normal */
  .menu{
    display: none;
  }

  /* Menu Mobile */
  .menu-mobile{    
    position: absolute;
    top: 0;
    right: 0px;
    transition: 0.25s all linear;
  }

  .menu-active .menu-mobile {
    transform: translateX(0);
  }

  .header, .main{
    transform: translateX(0);
  }

  .menu-active .header, 
  .menu-active .main {
      transform: translateX(-220px);
  }

}